@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #333333;
    font-family: "Noto Sans JP", serif;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.wrapper {
    max-width: 1140px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}


/*header*/
#header .header-inner {
    display: flex;
    justify-content: space-between;
}

#header .header-title {
    display: flex;
    font-family: "Lato";
    font-size: 28px;
    align-items: center;
    padding: 30px 20px;
}

#header .header-list {
    display: flex;
    align-items: center;

}

#header .header-list li {
    padding:30px 20px 40px 0;
}

#header .header-list .green-btn {
    font-size: 16px;
    display: block;
    background: #006536;
    color: white;
    padding: 11px 29px;
    border-radius: 20px;
}

/*main*/
#manvisual {
    position: relative;
}

#mainvisual .main-img {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: 0 auto 50px;
}

#mainvisual .text {
    position: absolute;
    top: 29%;
    left: 30%;
    text-align: center;
    width: 42%;
    transform: translate(-50% -50%);
}

#mainvisual .text h1 {
    font-size: 38px;
    line-height: 1.7;
    margin-bottom: 30px;
}

#mainvisual .text p {
    line-height: 1.7;
    margin-bottom: 25px;
}

#mainvisual .text .green-btn {
    font-size: 16px;
    display: inline-block;
    background: #006536;
    color: white;
    padding: 11px 29px;
    border-radius: 20px;
}


#appeal {
    margin-bottom: 30px;
}

#appeal h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 47px;
}

#appeal .appeal-list {
    display: flex;
    object-fit: cover;
}

#appeal .appeal-list img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

#appeal .appeal-list li {
    width: 33.3%;
    padding: 0 20px;
}

#appeal .appeal-list h3 {
    color: #006536;
    text-align: center;
    padding: 20px 0;
}

#appeal .appeal-list p {
    font-size: 14px;
}

#inquiry {
    position: relative;
}

#inquiry .inquiry-img{
    max-width: 1280px;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

#inquiry .inquiry-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#inquiry .inquiry-text {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 27%;
}

#inquiry .inquiry-text h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

#inquiry .inquiry-text p {
    font-weight: 700;
    margin-bottom: 55px;
}

#inquiry .inquiry-btn {
    display: flex;
    justify-content: center;
}

#inquiry .inquiry-btn .blue-btn {
    display: block;
    color: #FFFFFF;
    width: 186px;
    background: #4356B7;
    padding: 11px 44px;
    border-radius: 20px;
    margin-right: 32px;
}

#inquiry .inquiry-btn .green-btn {
    font-size: 16px;
    display: block;
    background: #006536;
    color: #FFFFFF;
    padding: 11px 29px;
    border-radius: 20px;
}

